<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cookiework.encryptedvideoview2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="cookiework.encryptedvideoview2.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cookiework.encryptedvideoview2.RegisterActivity"
            android:label="@string/action_register"
            android:parentActivityName="cookiework.encryptedvideoview2.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cookiework.encryptedvideoview2.LoginActivity" />
        </activity>
        <activity
            android:name="cookiework.encryptedvideoview2.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="cookiework.encryptedvideoview2.PendingActivity"
            android:label="未确认的关注请求"
            android:parentActivityName="cookiework.encryptedvideoview2.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cookiework.encryptedvideoview2.MainActivity" />
        </activity>
        <activity
            android:name="cookiework.encryptedvideoview2.MyTagsActivity"
            android:label="我的关注"
            android:parentActivityName="cookiework.encryptedvideoview2.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cookiework.encryptedvideoview2.MainActivity" />
        </activity>
        <activity
            android:name="cookiework.encryptedvideoview2.VideoDetailActivity"
            android:label="视频信息"></activity>
        <activity
            android:name="cookiework.encryptedvideoview2.VideoListActivity"
            android:parentActivityName="cookiework.encryptedvideoview2.MyTagsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cookiework.encryptedvideoview2.MyTagsActivity" />
        </activity>
        <activity
            android:name="cookiework.encryptedvideoview2.VideoPlayActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"
            android:label="@string/title_activity_video_play"
            android:screenOrientation="landscape"></activity>
    </application>

</manifest>